

<h2>Your type is {{t}}. Sure?</h2>
<div class="container">
            <form name="selectType" ng-submit="submitType()" novalidate>
    
                
                
                 <div class="doctors-marketing-top-div">
	<div class="container">
  	<div class="row">
			<div class="circle-sect premium-div">
  <input type="radio" class="input-circle" name="options" id="option3" autocomplete="off" ng-model="selectType.type_num" value="5" ng-click="select(5)"> Type 5
    </div>
    
    <div class="circle-sect acquisition-div">
    	 <input type="radio" class="input-circle" name="options" id="option3" autocomplete="off" ng-model="selectType.type_num" value="6" ng-click="select(6)"> Type 6 
    </div>
    
    <div class="circle-sect hipaa-div">
    	<input type="radio" class="input-circle" name="options" id="option3" autocomplete="off" ng-model="selectType.type_num" value="7" ng-click="select(7)"> Type 7
    </div>
    
    <div class="circle-sect smart-div">
    	    <input type="radio" class="input-circle" name="options" id="option3" autocomplete="off" ng-model="selectType.type_num" value="8" ng-click="select(8)"> Type 8
    </div>
    
    <div class="circle-sect unlimited-div">
    	 <input type="radio" class="input-circle" name="options" id="option3" autocomplete="off" ng-model="selectType.type_num" value="9"  ng-click="select(9)"> Type 9

    </div>
    
    <div class="circle-sect engagement-div">
    	<input type="radio" class="input-circle" name="options" id="option1" autocomplete="off" ng-model="selectType.type_num" value="1" ng-click="select(1)">Type 1
    </div>
    
    <div class="circle-sect social-div">
			 <input type="radio" class="input-circle" name="options" id="option2" autocomplete="off" ng-model="selectType.type_num" value="2" ng-click="select(2)"> Type 2
    </div>
    
    <div class="circle-sect email-div">
  
         <input type="radio" class="input-circle" name="options" id="option3" autocomplete="off" ng-model="selectType.type_num" value="3" ng-click="select(3)"> Type 3
    </div>
    
    <div class="circle-sect cloud-div">
    	 <input type="radio" class="input-circle" name="options" id="option3" autocomplete="off" ng-model="selectType.type_num" value="4" ng-click="select(4)"> Type 4
    </div>
    
   
    <div class="doctor-couple">
    
    </div>
    
    <div class="top-btn">
    	 <button type="submit" class="start-btn">Proceed</button>
    </div>
    
   </div>
  </div>
</div>
        
                
                
                
               
                <div class="col-sm-offset-4 col-sm-10">
                           
                </div>
                 
                 </form>
</div>
   