   <div class="seven-simple-div tablet-line">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h2>DashBoard</h2>
      </div>
      
      <div class="clear"></div>
      
      <div class="seven-simple-slider">
        <div class="col-md-3 col-sm-6 yellow-col-top slide y1">
          <div class="yellow-container">
            <div><a ui-sref="userProfile.spec">You Get <br />
              <span>TrueSelf Profile</span></a></div>
          </div>
         
        </div>
        <div class="col-md-3 col-sm-6 yellow-col-top slide y2">
          <div class="yellow-container ">
            <div><a ui-sref="userProfile">Edit your<br />
              <span>TrueSelf Profile</span></a></div>
          </div>
         
        </div>
        <div class="col-md-3 col-sm-6 yellow-col-top slide y3">
          <div class="yellow-container ">
            <div><a href="about-us.html">You Get <br />
              <span>Quality</span></a></div>
          </div>
         
        </div>
        <div class="col-md-3 col-sm-6 yellow-col-top slide y4">
          <div class="yellow-container ">
            <div><a href="about-us.html">You Get <br />
              <span>Speed</span></a></div>
          </div>
          
        </div>
        <div class="col-md-4 col-sm-6 yellow-col-bot y5">
          <div class="yellow-container ">
            <div><a ui-sref="secSelect">You Get <br />
              <span>Support</span></a></div>
          </div>
          
        </div>
        <div class="col-md-4 col-sm-6 yellow-col-bot y6">
          <div class="yellow-container ">
            <div><a href="about-us.html">You Get <br />
              <span>Results</span></a></div>
          </div>
        
        </div>
       
      </div>
    </div>
  </div>
</div>