    
<div class="container">
       
        <div class="row row-content">
            <div class="col-xs-12" ng-if="!showMenu">
                <h3>{{message}}</h3>
            </div>
            <div class="col-xs-12" ng-if="showMenu">             
                
            <form class="form-horizontal" name="commentForm" ng-submit="submit()" novalidate>
                    <div class="form-group">
                       
                    <ul ng-repeat="sec in abc" class="media-list tab-pane fade in active">
                       
                        <li class="media"><h2>Welcome {{sec.firstname}}</h2></li>
                        
                        
                        <ul ng-repeat="k in sec.usertype" ng-if="secs(k._id)">
                            <li class="media"><h2>{{k.sec_name}}</h2></li>
                            <div class="row">
                            <ul ng-repeat="l in k.keywords">
                            
                           
                                <div class="col-sm-6">
                                 <input type="checkbox" class="keywordCheckBox" name="options" id="{{k._id}}" ng-model="bool" ng-click="isChecked(l._id)" ng-checked="check(l._id)">
                                {{l.keyword}}
                                </div>
                                <div class="col-sm-6">
                              
                                
                                <p ng-show="kshow(l._id)">{{l.description}}<img src="\client\app\images\p.png" width="20" height="20" ng-click="kedit(l._id)"></p>
                                
                                <p ng-show="!kshow(l._id)">
                                <textarea ng-model="l.description">{{l.description}}</textarea>
                                </p>                               
                                
                                
                                </div>
                                
                           
                            </ul>
                                </div>
                        </ul>
                        
                    </ul>
                        
                    </div> 
                
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </div>
                </form>
            
            </div>
        </div>

    </div>
